.footer {
  padding: 0 10rem;
  margin: 0 auto 6rem;

  @media (max-width: 576px) {
    padding: 0 1rem;
    margin: 0 auto 1.6rem;
  }

  &Wrapper {
    padding: 6.4rem;
    background: $color-p8;
    border-radius: 3.5rem;

    max-width: 144rem;

    font-family: "Bricolage Grotesque", Arial;
    color: $color-white;

    @media (max-width: 576px) {
      padding: 2.4rem;
    }
  }

  &Header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      margin-bottom: 1rem;
    }
  }

  &Inner {
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    @media (max-width: 576px) {
      gap: 1.6rem;
    }
  }

  &Title {
    font-size: 30rem;
    letter-spacing: -0.5rem;
    font-variation-settings: "wght" 800;

    pointer-events: none;

    @media (max-width: 1700px) {
      font-size: 16vw;
    }

    @media (max-width: 576px) {
      letter-spacing: -0.2rem;
      font-size: 16vw;  
    }
  }

  &Text {
    font-size: 3.2rem;
    font-variation-settings: "wght" 400;
    color: $color-white;

    @media (max-width: 576px) {
      font-size: 1.6rem;
    }
  }
}
