.nav {
  position: relative;
  z-index: 99;
  // width: 100%;
  max-width: 144rem;

  font-family: "Bricolage Grotesque", Arial;
  font-size: 2.4rem;
  color: $color-white;

  &.-hidden {
    .navList {
      display: none;
    }
  }

  &Inner {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 4rem 10rem 0;

    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
  }

  &Logo {
    opacity: 0;
    visibility: hidden;
    
    width: 4.5rem;
    height: 2.5rem;

    svg {
      overflow: visible;
    }

    .logoEyebrow-l {
        transform-origin: 50% 50%;
        transition: transform 0.25s 0.05s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
    .logoEyebrow-r {
        transform-origin: 50% 50%;
        transition: transform 0.25s 0.1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
    .logoEye-l {
        transform-origin: 50% 50%;
        transition: transform 0.25s 0.1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
    .logoEye-r {
        transform-origin: 50% 50%;
        transition: transform 0.05s 0.15s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }

    &:hover {
      .logoEyebrow-l {
        transform: translateY(-2rem) rotate(-6deg) scale(1.05);
      }
      .logoEyebrow-r {
        transform: translateY(-2rem) rotate(6deg) scale(1.1);
      }
      .logoEye-l {
        transform: scale(1.05);
      }
      .logoEye-r {
        transform: scale(1.05);
      }
    }
  }

  &List {
    display: flex;
    gap: 6.4rem;
  }

  &Item {
    position: relative;
    overflow: hidden;
    padding: 0.4rem 1rem;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;

      z-index: -1;

      transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.320, 1.275);
      background: $color-p8;
    }

    &:hover::after {
      transform: translate(0, -100%);
    }
  }
}
