.nav {
  z-index: 99;
  position: fixed;
  left: 50%;
  width: 100%;
  padding-top: 4rem;
  margin: auto;

  max-width: 144rem;

  font-family: "Bricolage Grotesque", Arial;
  font-size: 2.4rem;
  color: $color-white;

  display: flex;
  justify-content: space-between;

  transform: translateX(-50%);

  &.-hidden {
    .navLinks {
      display: none;
    }
  }

  &Logo {
    width: 4.5rem;
    height: 2.5rem;
  }

  &Links {
    display: flex;
    gap: 6.4rem;
  }

  &Item {
  }
}
