$color-p1: #2D0037;
$color-p2: #4E0061;
$color-p3: #6F008A;
$color-p4: #9100B4;
$color-p5: #B200DD;
$color-p6: #BE26E2;
$color-p7: #C94DE7;
$color-p8: #D573EC;
$color-p9: #E099F1;

$color-white : #FFFFFF;
$color-black : #000000;