html {
  // 1rem = 10px
  font-size: 62.5%;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body{
  background: $color-p1;
}

.wrapper {
  max-width: 144rem;
  padding: 0 10rem;
  margin: auto;

  @media (max-width: 576px) {
    padding: 0 1.6rem;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

// Handle canvas z-indexes
canvas.preloader {
  z-index: 998;
}

canvas.dom2Gl{
  z-index: 1;
  pointer-events: none;
}

canvas.experience {
  z-index: -1;

  pointer-events: none;

  &.-hidden{
    visibility: hidden;
  }
}


