.subtitle {
  font-family: "Bricolage Grotesque", Arial;
  font-variation-settings: "wght" 800;
  font-size: 3.2rem;

  color: $color-white;

  @media (max-width: 576px){
  font-size: 5.2rem;

  }
  
  span{
    margin-right: 1rem;
  }

  svg {
    width: 3.2rem;
    height: 3.2rem;

    vertical-align: bottom;
  }
}


.link{
  position: relative;

  &::after{
    content: "";
    width: 100%;
    height: 0.2rem;

    position: absolute;
    left: 0;
    top: 110%;

    background: $color-white;
    border-radius: 1rem;

    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover::after{
    transform: scaleX(1);
    transform-origin: 0 50%;
  }
}