.home {
  font-family: "Bricolage Grotesque", Arial;

  .hero {
    font-variation-settings: "wght" 800;

    padding: 20rem 0;

    @media (max-width: 576px) {
      padding: 20rem 0 10rem;
    }

    &Subtitle {
      font-size: 5.4rem;
      color: $color-p9;
      letter-spacing: -0.2rem;

      @media (max-width: 576px) {
        font-size: 3.6rem;
      }
    }

    &Title {
      font-size: 24rem;
      color: $color-white;
      line-height: 0.8;
      letter-spacing: -0.65rem;

      @media (max-width: 1460px) {
        font-size: 22rem;
        line-height: 0.75;
      }

      @media (max-width: 1250px) {
        font-size: 20rem;
        line-height: 0.75;
      }

      @media (max-width: 576px) {
        font-size: 7.2rem;
        letter-spacing: -0.4rem;
      }
    }
  }

  .about {
    font-variation-settings: "wght" 200;

    padding: 8rem 0 20rem;

    @media (max-width: 576px) {
      padding: 10rem 0;
    }

    &Subtitle {
      margin-bottom: 10rem;

      @media (max-width: 576px) {
        margin-bottom: 6.4rem;
      }
    }

    &Text {
      font-size: 7.2rem;
      color: $color-white;
      line-height: 6.6rem;

      // text-align: center;
      // text-transform: uppercase;

      @media (max-width: 576px) {
        font-size: 3.2rem;
        line-height: 3.4rem;
      }
    }
  }

  .highlight {
    padding: 8rem 0 20rem;
    overflow: hidden;

    @media (max-width: 576px) {
      padding: 10rem 0 20rem;
    }

    &Subtitle {
      margin-bottom: 5.5rem;
    }

    &List {
      text-align: center;
    }

    &Item {
      display: block;

      &__title {
        display: inline-block;

        margin: 0 3.2rem;

        font-variation-settings: "wght" 800;
        font-size: 20rem;
        letter-spacing: -0.2rem;
        line-height: 18rem;
        color: $color-white;

        @media (max-width: 1460px) {
          font-size: 16rem;
          line-height: 14rem;
        }
        @media (max-width: 576px) {
          margin: 0 auto;
          font-size: 6rem;
          line-height: 5.2rem;
        }

        span {
          cursor: pointer;

          transition: font-variation-settings 0.5s ease-out, color ease-out 0.5s;
        }

        &:hover {
          span {
            color: $color-p7;
            font-variation-settings: "wght" 500;

            transition: font-variation-settings 0.4s ease-out,
              color ease-out 0.8s;
          }

          .highlightItem__figure {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      &__figure {
        display: inline-block;
        // width: auto;
        height: 12.4rem;

        aspect-ratio: 16/9;

        transition: opacity 0.5s ease-out;

        @media (max-width: 1460px) {
          height: 10rem;
        }

        @media (max-width: 576px) {
          display: none;
        }
      }

      &:nth-child(1) {
        transform: translateX(-8rem);

        @media (max-width: 1250px) {
          transform: translateX(0rem);
        }
        @media (max-width: 576px) {
          display: inline-block;
          transform: translateX(-4rem);
          // transform: translateX(0);
        }
      }
      &:nth-child(2) {
        transform: translateX(-16rem);

        @media (max-width: 1250px) {
          transform: translateX(-6rem);
        }
        @media (max-width: 576px) {
          transform: translateX(0);
        }
      }
      &:nth-child(3) {
        transform: translateX(-8rem);

        @media (max-width: 1250px) {
          transform: translateX(0);
        }
      }
      &:nth-child(4) {
        @media (max-width: 1250px) {
          transform: translateX(10rem);
        }
        @media (max-width: 576px) {
          transform: translateX(0);
        }
      }

      &:nth-child(5) {
        transform: translateX(8rem);

        @media (max-width: 1250px) {
          transform: translateX(12rem);
        }
        @media (max-width: 576px) {
          display: inline-block;
          transform: translateX(8vw);
          // transform: translateX(0);
        }
      }
    }
  }

  .skills {
    margin-bottom: 30rem;

    @media (max-width: 576px) {
      margin-bottom: 10rem;
    }

    &Subtitle {
      margin-bottom: 5.5rem;
    }

    &Inner {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      flex-wrap: wrap;

      @media (max-width: 576px) {
        gap: 1rem;
      }
    }

    &Card {
      padding: 2rem;
      border: solid 0.4rem $color-p7;
      border-radius: 1.6rem;
      // background-color: $color-p2;

      display: flex;
      flex: 1 1 17%;
      flex-direction: column;
      justify-content: space-between;

      color: $color-white;
      aspect-ratio: 1/1;

      transition: background-color 0.1s ease-out, transform 0.25s ease-out;

      @media (max-width: 576px) {
        padding: 1.2rem;
      }

      &:hover {
        background-color: $color-p7;
        transform: scale(1.025);
      }

      &__list {
      }

      &__item {
        font-size: 2.4rem;

        @media (max-width: 576px) {
          // font-size: 4.4rem;
        }
      }

      &__title {
        font-size: 3.2rem;
        font-variation-settings: "wght" 700;

        @media (max-width: 576px) {
          font-size: 2.4rem;
        }
      }
    }
  }

  .contact {
    margin-bottom: 30rem;
    padding-top: 8rem;
    color: $color-white;

    @media (max-width: 576px) {
      margin-bottom: 10rem;
    }

    &Subtitle {
      margin-bottom: 5.5rem;
    }

    &Inner {
      &__info {
      }
    }

    &Email {
      font-size: 9.6rem;
      font-variation-settings: "wght" 700;
      color: $color-p7;
      transition: color 0.6s ease-out;

      &:hover {
        color: $color-white;
      }

      @media (max-width: 1250px) {
        font-size: 8rem;
      }

      @media (max-width: 576px) {
        font-size: 2.4rem;
        margin-bottom: 1rem;
      }
    }

    &Phone {
      font-size: 6.4rem;
      font-variation-settings: "wght" 200;

      @media (max-width: 576px) {
        font-size: 4rem;
      }
    }
  }
}
