.project {
  width: 100%;
  padding-top: 20rem;
  margin-bottom: 30rem;
  background: $color-p1;

  font-family: "Bricolage Grotesque", Arial;

  .hero {
    margin-bottom: 12rem;

    &Title {
      font-size: 20rem;
      font-variation-settings: "wght" 800;
      letter-spacing: -0.4rem;
      line-height: 18rem;
      color: $color-white;

      text-transform: uppercase;
    }

    &Figure {
      width: 100%;
      aspect-ratio: 16 / 9;
      margin-top: -6rem;
      margin-bottom: 16rem;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20rem;
    gap: 12rem;

    &Content {
      flex: 1 1 0;
    }

    &Title {
      margin-bottom: 5rem;

      font-size: 3.2rem;
      font-variation-settings: "wght" 600;
      letter-spacing: -0.1rem;
      color: $color-p8;

      text-transform: uppercase;
    }

    &Text {
      // max-width: 40rem;

      font-size: 2.4rem;
      color: $color-white;
    }

    &Inner {
      display: flex;
      justify-content: space-between;
      gap: 10rem;
    }

    &Content {
    }

    &Figure {
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 30rem;

    &Figure {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}
